.icscf {
  width: 36.35vw;
  height: 6.94vh;
  margin-top: 3.7vh;
  margin-left: 1.41vw;
  border: 0.092vh solid #d5e8e1;
  border-radius: 0.83vh;
}

.icscf-content-title {
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  width: 2.76vw;
  height: 2.22vh;
  margin-left: 0.42vw;
}

.icscf-content-memory {
  width: 28.95vw;
  height: 3.7vh;
  border-radius: 0.83vh;
  margin-left: 0.8vw;
}

.icscf-content-memory-input {
  height: 3.7vh;
  width: 11.61vw;
}

.memory {
  height: 3.7vh;
  width: 3.125vw;
  border: none;
  background-color: #f9f9f9;
  border-radius: 0.64vh;
}
