.unit {
  margin-left: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input {
  text-align: center;
  border: none;
  font-size: 1.4vh;
  font-family: "FiraGO", sans-serif;
  color: #2fbc8c !important;
}
