.node-table {
  width: 42.99vw;
  height: 20.51vh;
  margin-top: 8.56vh;
  margin-left: 2.81vw;
}
.node-table-title {
  width: 14.24vw;
  height: 4.25vh;
  border: solid;
  background-color: #1f666e;
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  cursor: pointer;
}

.node-table-title span {
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  color: white;
  margin-left: 2.4vw;
}

.node-table-contents {
  height: 2.77vh;
  width: 42.66vw;
}

.node-table-content {
  width: 42.66vw;
  height: 2.77vh;
  border-bottom: 0.046vh solid #dfdfdf;
}

.node-table-content-name {
  width: 3.64vw;
  height: 1.85vh;
  margin-left: 2.32vw;
  color: #1a4348;
  font-size: 1.2vh;
  font-family: "FiraGO", sans-serif;
  border-radius: 0.277vh;
}

.node-table-content-ip {
  width: 4.68vw;
  height: 1.85vh;
  margin-left: 6.61vw;
  color: #1a4348;
  font-size: 1.2vh;
  font-family: "FiraGO", sans-serif;
  border-radius: 0.277vh;
}

.node-table-content-status {
  width: 4.37vw;
  height: 1.57vh;
  margin-left: 6.61vw;
  font-size: 1.2vh;
  font-family: "FiraGO", sans-serif;
}

svg {
  margin-left: 7px;
  margin-top: 2px;
}
