.node-name-box {
  width: 10.42vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
  border: none;
  overflow: auto;
}

/* .select-node {
  margin-left: 10px !important;
  overflow: scroll;
  background-color: red;
} */

/* select {
  margin-left: 10px !important;
  overflow-y: scroll;
  background-color: red;
} */

/* select option {
  color: #1a4348;
  /*text-align: center; 
  width: 9.84vw;
  height: 2.5vh;
} */

label,
option {
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
  margin-right: 20px;
}
