.show-error {
  z-index: 1;
  width: 20.83vw;
  height: 9.26vh;
  right: 4.166vw;
  bottom: 7.41vh;
  position: fixed;
  border-radius: 0.65vh;
  display: block;
}

.success-color {
  background-color: #58cc87;
}

.error-color {
  background-color: rgba(198, 81, 97);
}
.error-close-icon {
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: end;
  margin-right: 15px;
  cursor: pointer;
}

.error-content {
  width: 100%;
  height: 20px;
}

.error-message {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  margin-bottom: 0;
  margin-left: 3px;
}

.erroe-message:first-letter {
  text-transform: uppercase;
}

.error-icon {
  width: 1.042vw;
  height: 1.85vh;
  margin-left: 20px;
}
