.general {
  width: 36.82vw;
  height: 12.68vh;
  margin-left: 2.083vw;
  margin-top: 3.7vh;
  border: 0.092vh solid #d5e8e1;
  border-radius: 0.83vh;
}

.general-content {
  width: 34.48vw;
  height: 8.42vh;
  margin-left: 1.3vw;
  margin-top: 1.75vh;
  border-radius: 0.83vh;
}

.general-content-ims-domain {
  width: 29.06vw;
  height: 3.7vh;
  margin-left: 2.5vw;
}

.general-content-title {
  margin-left: 0;
  width: 3.17vw;
  height: 2.22vh;
  text-align: center;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.general-content-enable-homer {
  height: 2.037vh;
  margin-top: 2.66vh;
  margin-left: 5.57vw;
}

.general-content-enable-homer-checkbox {
  height: 2.04vh;
  width: 4.5vw;
}

.general-content-ims-domain-box {
  width: 21.125vw;
  height: 3.7vh;
  background-color: #eef5f2;
  border-radius: 0.64vh;
}

label,
span,
p {
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

input.general-content-ims-domain-box {
  border: none;
}

.enable-homer-title {
  height: 2.037vh;
  width: 6.51vw;
}
