.main-content {
  width: 78.75vw;
  height: 84.25vh;
  margin: 2.6vh auto;
  background-color: white;
}

.information-save-button,
.information-edit-button {
  width: 7.29vw;
  height: 3.7vh;
  margin-top: 3.05vh;
  margin-left: 22.86vw;
  border-style: none;
  border-radius: 0.65vh;
  background-color: #1f666e;
}

.information-edit-button {
  margin-left: 0.94vw;
}

button {
  color: white;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}
