/* .Pre-Login-body {
  background-image: url("../images/Pre-Login\ Page.svg");
  object-fit: fill;
}

.Login-body {
  background-image: url("../images/Login\ Page\ –\ Language\ Toggle.svg");
  height: 100vh;
}

/* .After-Login-body {
  background-image: url("../images/After_Login_Page.svg");
} */

.Login-body {
  background-image: url("../../images/login_images/Login\ Page\ –\ Language\ Toggle.svg");
  height: 100%;
  width: 100%;
}

.login-content {
  background-color: black;
  height: 100%;
  width: 17.71vw;
  margin: 0 auto;
}

.saleh-photo {
  width: 6.25vw;
  height: 11.11vh;
  position: absolute;
  top: 42.5vh;
  right: 46.87vw;
  display: block;
}

.After-login-text {
  color: white;
  right: 47.18vw;
  top: 56.02vh;
  position: absolute;
  font-size: 2.59vh;
  font-family: "FiraGO", sans-serif;
  margin-top: 0;
  margin-right: 5px;
}

.pre-login-logo {
  width: 5.34vw;
  height: 6.73vh;
  right: 47.33vw;
  top: 46.66vh;
  position: absolute;
}

.Login-container {
  width: 17.71vw;
  height: 40.83vh;
  margin: auto auto;
  /* top: 29.53vh;
  right: 41.14vw; */
}

.username-container,
.password-container {
  background-color: #83a79a;
  height: 5.185vh;
  width: 17.71vw;
  border: 0.092vh solid #a6d4c4;
  border-radius: 0.65vh;
  display: flex;
  justify-content: center;
  opacity: 20%;
}

/* .username-container {
  top: 11.11vh;
  right: 0;
  position: absolute;
} */

/* .password-container {
  top: 20vh;
  right: 0;
  position: absolute;
} */

input {
  height: 5.175vh;
  /* width: 90%; */
  /* left: 0;
  top: 0; */
  background-color: inherit;
  border: none;
  text-align: center;
  color: white;
  font-size: 1.85vh;
}

input::placeholder {
  color: white;
  font-family: "Iranian Sans", sans-serif;
}

.username-icon,
.password-icon {
  width: 1.87vw;
  height: 3.7vh;
}

.Login-Avatar {
  border: 1px solid white;
  border-radius: 50%;
  width: 4.16vw;
  height: 7.41vh;
  margin: 0 auto;
}

#login-form.d-flex {
  gap: 3.7vh;
}

.Login-Avatar svg {
  margin: auto auto;
  display: block;
  margin-top: 8px;
}

button.submit-button {
  background-color: #68d5b0;
  color: white;
  bottom: 6.76vh;
  height: 5.185vh;
  width: 17.71vw;
  border: none;
  border-radius: 0.65vh;
  font-size: 2.037vh;
  font-family: "Iranian Sans", sans-serif;
}

.Login-Logo-image {
  display: block;
  margin: 8px auto;
}

.Login-Logo-text {
  text-align: center;
  color: white;
  font-size: 1.48vh;
  font-weight: thin;
  font-family: "FiraGO", sans-serif;
  width: 10.83vw;
  height: 1.94vh;
  margin: 0 auto;
  margin-bottom: 8vh;
}

.Login-Language {
  width: 3.85vw;
  height: 3.15vh;
  margin: 0 auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.85vw;
  height: 3.15vh;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0px;
  height: 0px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

span.slider {
  color: #68d5b0;
  font-size: 1.29vh;
  font-family: "FiraGO", sans-serif;
  padding: 7px;
}

.slider:before {
  text-align: center;
  position: absolute;
  content: "فا";
  height: 2.22vh;
  width: 1.25vw;
  right: 0.26vw;
  bottom: 0.46vh;
  border: none;
  color: black;
  font-size: 1.29vh;
  font-family: "Iranian Sans", sans-serif;
}

input:checked + .slider:before {
  background-color: #68d5b0;
}

input + .slider:before {
  background-color: #68d5b0;
}

input:checked + .slider,
input + .slider {
  background-color: #1a4348;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-2.02vw);
  -ms-transform: translateX(-2.02vw);
  transform: translateX(-2.02vw);
}

.slider.round {
  border-radius: 3.14vh;
}

.slider.round:before {
  border-radius: 50%;
}
