.virtual-ips {
  background-color: white;
  width: 29.89vw;
  height: 72.31vh;
  margin-left: 1.45vw;
  margin-top: 2.6vh;
  border-radius: 20px;
}

.virtual-ips-title {
  width: 11.98vw;
  height: 2.22vh;
  margin-top: 3.7vh;
  margin-left: 1.35vw;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.virtual-ips-save-button {
  margin-top: 33.88vh;
  margin-left: 21.15vw;
}
