.ping-content {
  width: 35.52vw;
  height: 77.64vh;
}

.ping-content-title,
.command-result-title {
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.ip-address {
  width: 16.921vw;
  height: 3.7vh;
  margin-top: 2.59vh;
}

input {
  border: none;
}

.node {
  width: 16.41vw;
  height: 3.7vh;
  margin-top: 2.59vh;
}

.run-button {
  margin-top: 2.59vh;
}

.command-result {
  border: 1px solid #d5e8e1;
  border-radius: 7px;
  width: 35.52vw;
  height: 60.37vh;
  margin-top: 2.55vh;
}

.command-result-title {
  margin-left: 0.52vw;
  margin-top: 2.22vh;
}

.command-result-content {
  width: 33.75vw;
  height: 51.94vh;
  margin-left: 0.52vw;
  margin-top: 1.48vh;
  overflow: auto;
}

.scrollable-text {
  margin: 0;
  padding: 10px;
  color: #1f666e;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}
