.chb {
  visibility: hidden;
}

.chb + label {
  position: relative;
  padding-right: 1px;
  margin-left: 5px;
}

.chb-square + label::before {
  position: absolute;
  width: 0.91vw;
  height: 1.75vh;
  background-color: #e9e9e9;
  border-radius: 0.37vh;
  content: "";
  border: 0.093vh solid #707070;
  left: -20px;
}

.chb-square:checked + label::before {
  background-color: #68d5b0;
}

.checkbox-label {
  color: #1a4348;
  font-size: 1.5vh;
  font-family: "FiraGO", sans-serif;
}
