.pcscf {
  width: 36.82vw;
  height: 61.57vh;
  margin-left: 2.083vw;
  margin-top: 2.6vh;
  border: 0.092vh solid #d5e8e1;
  border-radius: 0.83vh;
}

.pcscf-content {
  width: 34.41vw;
  height: 21.57vh;
  margin-left: 1.31vw;
  margin-top: 2.41vh;
  border-radius: 0.83vh;
}

.pcscf-content-title {
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  color: #83a79a;
  width: 3.5vw;
  height: 2.22vh;
  margin-left: 0.1vw;
}

.pcscf-content-enable-ipsec,
.pcscf-content-enable-tls {
  width: 8.62vw;
  height: 1.94vh;
  border-radius: 0.83vh;
}

.pcscf-content-enable-ipsec {
  margin-left: 2.12vw;
}

.pcscf-content-enable-tls {
  margin-left: 5.51vw;
}

.pcscf-content-encryption-algorithms {
  width: 28.82vw;
  height: 5.69vh;
  margin-left: 5.51vw;
  border-radius: 0.83vh;
}

.pcscf-content-encryption-algorithms p {
  margin-top: 0;
}

.pcscf-content-memory {
  width: 28.95vw;
  height: 3.7vh;
  margin-left: 5.51vw;
  border-radius: 0.83vh;
}

.pcscf-content-memory-input {
  height: 3.7vh;
  width: 11.61vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pcscf-content-encryption-algorithms-aes-checkbox {
  width: 4.9vw;
  height: 2.037vh;
}

.pcscf-content-encryption-algorithms-des-checkbox {
  width: 7.2vw;
  height: 2.037vh;
}

.pcscf-content-encryption-algorithms-plain-checkbox {
  width: 9.2vw;
  height: 2.037vh;
}

.memory {
  height: 3.7vh;
  width: 3.125vw;
  border: none;
  background-color: #f9f9f9;
  border-radius: 0.64vh;
}
