.node {
  background-color: white;
  margin-left: 1.45vw;
  margin-top: 2.6vh;
  width: 47.39vw;
  height: 72.31vh;
  /* right: 36.04vw;
  top: 20.46vh;
  position: absolute; */
  border-radius: 1.85vh;
  border: 1px solid red;
}
