.footer {
  background-color: white;
  width: 100%;
  height: 4.63vh;
}

.time-box {
  width: 13.32vw;
  height: 3vh;
  margin-left: 67vw;
  margin-top: 0.78vh;
  border-left: 0.046vh solid #83a79a;
  border-right: 0.046vh solid #83a79a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-content {
  width: 10.46vw;
  height: 1.76vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-content span {
  color: #83a79a;
  font-size: 1.58vh;
  font-family: "FiraGO", sans-serif;
}
