.pcscf-rx-configuration {
  width: 29.01vw;
  height: 32.59vh;
  margin-left: 6.72vw;
  margin-top: 2.96vh;
  border-radius: 0.83vh;
  border: 0.092vh solid #d5e8e1;
}

.pcscf-rx-configuration-title {
  width: 6.14vw;
  height: 1.94vh;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  color: #83a79a;
}

.pcscf-rx-configuration-pcrf-ip {
  width: 19.43vw;
  height: 3.7vh;
  margin-left: 2.2vw;
  border-radius: 0.83vh;
}
.pcscf-rx-configuration-pcrf-fqdn,
.pcscf-rx-configuration-pcrf-realm {
  width: 19.63vw;
  height: 3.7vh;
  margin-left: 8.49vw;
  border-radius: 0.83vh;
}

.pcscf-rx-configuration-protocol {
  margin-left: 8.49vw;
  width: 19.32vw;
  height: 2.037vh;
  border-radius: 0.83vh;
}

.pcscf-rx-configuration-port {
  margin-left: 8.49vw;
  width: 19.27vw;
  height: 3.7vh;
  border-radius: 0.83vh;
}

.pcscf-rx-configuration-port-switch {
  width: 9.5vw;
  height: 1.94vh;
  border-radius: 0.83vh;
}

.rx-source-port {
  width: 8.48vw;
  height: 3.7vh;
  background-color: #f9f9f9;
  border-radius: 0.64vh;
  border: none;
}

.rx-configuration-box {
  width: 12.03vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
  border: none;
}

.transport-protocol {
  width: 3.3vw;
  height: 2.037vh;
  border-radius: 0.83vh;
}
