.ip-octet {
  width: 2.604vw;
  height: 3.7vh;
  border-radius: 0.65vh;
  background-color: #eef5f2;
  color: black;
}

.input-general {
  text-align: center;
  border: none;
  font-size: 1.6vh;
  font-family: "FiraGO", sans-serif;
  color: #2fbc8c !important;
}
