.general-class {
  width: 36.82vw;
  height: 12.68vh;
  margin-left: 2.083vw;
  margin-top: 3.7vh;
  border: 0.092vh solid #d5e8e1;
  border-radius: 0.83vh;
}

.general-class-content {
  border: 0.092vh solid green;
  width: 34.48vw;
  height: 8.42vh;
  margin-left: 1.3vw;
  margin-top: 1.75vh;
  border-radius: 0.83vh;
}

.general-class-content-field1 {
  border: 0.092vh solid green;
  width: 29.06vw;
  height: 3.7vh;
  /* margin-left: 3.88vw; */
  margin-left: 2.5vw;
}

.general-class-content-title {
  /* margin-top: 0.98vh; */
  margin-left: 0;
  width: 3.17vw;
  height: 2.22vh;
  text-align: center;
  color: #83a79a;
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
}

.general-class-content-field2 {
  height: 2.037vh;
  border: 1px solid green;
  margin-top: 2.66vh;
  margin-left: 5.57vw;
}

/* .general-class-content-field2-checkboxes {
  height: 2.037vh;
  width: 22.45vw;
  border: 1px solid green;
  margin-left: 5px;
} */

.general-class-content-field2-checkbox {
  height: 2.04vh;
  width: 4vw;
  border: 1px solid black;
}

/* label.general-class-content-field2-checkbox {
  color: red;
} */

.general-class-content-field1-box {
  width: 21.125vw;
  height: 3.7vh;
  background-color: #eef5f2;
  border-radius: 0.64vh;
}

label,
span , p{
  color: #1a4348;
  font-size: 1.48vh;
  font-family: "FiraGO", sans-serif;
}

input.general-class-content-field1-box {
  border: none;
}

input[type="text"] {
  text-align: center;
  color: #2fbc8c;
  border: none;
}

.enable-homer-title {
  height: 2.037vh;
  width: 6.51vw;
}
