.RTP-Proxy-class {
  width: 36.35vw;
  height: 45.09vh;
  margin-top: 2.59vh;
  margin-left: 1.41vw;
  border: 0.092vh solid #d5e8e1;
  border-radius: 0.83vh;
}
.RTP-Proxy-class-content {
  width: 35.04vw;
  height: 40.55vh;
}

.RTP-Proxy-class-content-title {
  font-size: 1.66vh;
  font-family: "FiraGO", sans-serif;
  color: #83a79a;
  width: 4.5vw;
  height: 2.22vh;
  margin-left: 0.1vw;
}

.RTP-Proxy-class-content-input1 {
  width: 29.5vw;
  height: 2.037vh;
  border: 1px solid red;
  margin-left: 0.54vw;
}

.RTP-Proxy-class-content-input2 {
  width: 8.57vw;
  height: 1.94vh;
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input3,
.RTP-Proxy-class-content-input4 {
  width: 29.63vw;
  height: 6.2vh;
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input5,
.RTP-Proxy-class-content-input6 {
  width: 29.53vw;
  height: 3.7vh;
  margin-left: 5.31vw;
}

.RTP-Proxy-class-content-input5-switch {
  width: 14.36vw;
  height: 1.94vh;
  border-radius: 0.83vh;
}

.RTP-Proxy-Ports-title {
  width: 11.61vw;
  height: 1.94vh;
  margin-bottom: 5px;
}

.RTP-Proxy-Ports {
  width: 29.63vw;
  height: 3.7vh;
}

.RTP-Proxy-Ports input {
  margin-left: 7px;
}

.RTP-Loss-Timeout,
.Call-Duration,
.port {
  width: 4.58vw;
  height: 3.7vh;
  background-color: #f9f9f9;
  border: none;
  border-radius: 0.65vh;
}

.RTP-Proxy-class-content-input1-checkbox {
  width: 4.81vw;
  height: 2.037vh;
  border: 1px solid red;
}
